<div class="container">
  <div class="row">
    <div class="col align-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img class="card-img-top" src="{{plat.image}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{plat.nom}}</h5>
          <p class="card-text">{{plat.description}}</p>
          <p class="card-text">{{plat.prix}} €</p>
          <div class="d-flex justify-content-around">
            <a (click)="onUpdate()" class="btn btn-warning btn-sm">Modifier</a>
          <a (click)="onDelete()" class="btn btn-danger btn-sm">Supprimer</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


